.Container {
  display: flex;
  justify-content: space-around; 
  gap:30.3px;
  padding-bottom:0.1px;
  padding: 1.3rem; 
}

.VisualGraph{
     margin-left: 1rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    line-height: 0rem;
    justify-content: center;
}

.Time{
    font-weight: 400;
    font-size: 12px;
}
.Icon{
    margin-left: 7px;
    padding-top: 6px;
    font-size: 22px;
}
.Temp{
    margin-left: 7px;
    font-weight:500;
}
.Line {
    height: 81px;
    margin-left: 15px;
    width: 1px;
    background: black;
}
.Percent{
    color: grey;
    font-size: 12px;
    margin-left: 8px;
    padding-bottom: 1rem;
}
.Item{
    /* position: absolute; */
    /* display: flex;
    justify-content: space-around;
    flex-direction: column; */
}